<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <div class="left-section">
            <a href="#" class="navbar-brand">
                <img src="../images/main.svg" alt="Logo" width="30" height="24">
                CharityCart
            </a>
            <div class="nav-items">
                <a href="../views/profile.html">Home</a>
                <a href="/views/new-charity.html">Start A Campaign</a>
                <a href="../views/all-charity.html">Explore Campaigns</a>
                <a href="/views/my-charity.html">My Campaigns</a>
            </div>
        </div>
        <div class="top-right">
            <div id="welcome"></div>
            <a href="/admin/dashboard"></a>
        </div>
    </div>
    <!-- container -->
    <div class="container">
        <div class="firstbox">
            <div id="boxheading">My Profile</div>

            <div class="firstbox-content">

                <img id="profile-img" src="../images/test-user.png" alt="user-logo">

                <div>
                    <h5> <a href=""><img src="../images/edit.svg" alt="edit svg"></a></h5>
                    <p id="useremail"></p>
                    <p id="phonnumber"></p>
                </div>



            </div>
        </div>
        <div class="secondbox">
            <div id="boxheading">My Impact</div>
            <div class="secondbox-content">
                <div id="box">
                    <img src="../images/donation.png" alt="donation">
                    <h4 id="donated"></h4>
                    <h6>Total Donations</h6>
                </div>
                <div id="box">
                    <img src="../images/support.png" alt="support">
                    <h4 id="joined"></h4>
                    <h6>campaigns supported</h6>
                </div>


            </div>
        </div>


    </div>
    <div class="second-container">
        <div id="my-donations">
            <h1>My Donations</h1>


            <!-- //table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Charity Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Receipt</th>
                    </tr>
                </thead>
                <tbody class="tbody table-group-divider">
                    <tr>


                    </tr>

                </tbody>
            </table>



        </div>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
        integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/views/profile.js"></script>


</body>

</html>